<h1>All Companies</h1>
<%= link_to 'New Company', new_company_path %>
<table class="table">
	<tr>
		<th>Company Name</th>
		<th>Contact</th>
		<th>Address</th>
		<th></th>
	</tr>
	<% @companies.each do |company| %>
		<tr>
			<td><%= company.name %></td>
			<td><%= company.contact %></td>
			<td><%= company.address %></td>
			<td>
				<%= link_to 'Destroy', company_path(company), method: :delete, data: {confirm: 'Are you sure?'} , class: 'btn btn-danger btn-xs' %>
			</td>
		</tr>
	<% end %>
</table>