<%= form_for @company do |f| %>
	<p>
	    <%= f.label :company_name %><br>
	    <%= f.text_field :name %>
	</p>
	<p>
	    <%= f.label :contact %><br>
	    <%= f.text_field :contact %>
	</p>
	<p>
	    <%= f.label :address %><br>
	    <%= f.text_field :address %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
