<div class="row" style="text-align: center">
  <h1>Log in</h1>
</div>
<div class="col-md-6 col-md-offset-3">
  <hr>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
    <div class="field form-group">
      <%= f.label :email, class: 'control-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="actions form-group">
      <div>
        <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
      </div>
    </div>
    <% end %>
    <div class="row" style="text-align: center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>