<div class="row" style="text-align: center">
  <h2>Forgot your password?</h2>
</div>
<div class="col-md-6 col-md-offset-3">
  <hr>
</div> 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
  	<div class="col-sm-12">
    <%= f.label :email, class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  </div>

  <div class="actions form-group">
  	<div class="col-sm-12">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>