
<%= form_for @ctransaction ,:html => {:class => 'form-horizontal style-form', :id => 'modal-form'} do |f| %>
    <%= f.hidden_field :id%>
    <ul>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Transaction</a>
          <div class="col-sm-6">
            <%= @ctransaction.name %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Shared With</a>
          <div class="col-sm-6">
            <%= @ctransaction.shared_with_user_name %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Vender/Buyer</a>
          <div class="col-sm-6">
            <%= f.select :role, options_for_select([ "Sender", "Buyer" ], [@ctransaction.role]), {}, {:class => 'form-control'} %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Property</a>
          <div class="col-sm-6">
            <%= f.fields_for :invitation do |field_property| %>
                <%= field_property.text_field :property, :class => "form-control"%>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
<% end %>
