<tr id="trasaction-row-<%= @ctransaction.id %>">
  <td style="width: 20%;">
    <%= link_to edit_ctransaction_path @ctransaction.id do %>
        <%=@ctransaction.name%>
    <%end%>
  </td>
  <td style="width: 20%;"><%= @ctransaction.shared_with.email %></td>
  <td>
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
  </td>
  <td style="width: 15%;">
    <div class="btn-group">
      <button type="button" class="btn btn-theme0<%= @ctransaction.id % 5 %> dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to 'Edit', edit_ctransaction_path(@ctransaction.id), :remote => true %>
        </li>
        <li>
          <%= link_to 'Detail', ctransaction_path(@ctransaction.id), :remote => true %>
        </li>
        <li>
          <%= link_to "Destroy", ctransaction_path(@ctransaction.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-transaction-link' %>
        </li>
        <li>
          <%= link_to "Actions", ctransaction_cactions_path(@ctransaction.id), :remote => false %>
        </li>
        <li>
          <%= link_to "Documents", ctransaction_documents_path(@ctransaction.id) %>
        </li>
      </ul>
    </div>
  </td>
</tr>