
<%= form_for @ctransaction ,:html => {:class => 'form-horizontal style-form'} do |f| %>
    <ul>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>Transaction</a>
          <div class="col-sm-6">
            <%= @ctransaction.name %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>Shared With</a>
          <div class="col-sm-6">
            <%= @ctransaction.shared_with_user_name %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>Vender/Buyer</a>
          <div class="col-sm-6">
            <%= @ctransaction.role %>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>Property</a>
          <div class="col-sm-6">
            <%= @ctransaction.property %>
          </div>
        </div>
      </li>
    </ul>
<% end %>