<table>
	<th></th>
	<th></th>
	<th></th>
	<% @cactions.each do |caction| %>
		<tr>
			<td>
				<%= caction.id %>
			</td>
			<td>
				<%= caction.action_name %>
			</td>
			<td>
				<%= button_to "Add", company_ctransaction_bind_caction_path(@company, @ctransaction, caction), method: :put, class: 'btn btn-default' %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to 'Back', company_ctransaction_path(@company, @ctransaction), class: 'btn btn-default' %>