$(".modal-footer").show();
$(".modal-title").text("Edit a Transaction");
$("#transaction-modal").modal("show");
$("#transaction-modal").find(".modal-body").html("<%= j render 'transaction_edit_form', layout: false %>");
$("#submit-transaction-button").attr("operation","edit");

