<div class="content-panel table-header01">
  <h4>Transaction List</h4>
</div>
<div class="table-responsive">
  <div class="pn white-panel position-relative">
    <div id="blog-bg">
    </div>
  <table id="transaction-table" class="table table-advance table-hover">
    <thead>
    <tr>
      <td><i class="fa fa-comment"></i>&nbsp;Transaction Name</td>
      <td><i class="fa fa-phone"></i>&nbsp;Shared With</td>
      <td><i class=" fa fa-map-marker"></i>&nbsp;Action</td>
      <td><i class=" fa fa-map-marker"></i>&nbsp;Progress</td>
    </tr>
    </thead>
    <tbody>
    <% @ctransactions.each do |ctransaction| %>
        <tr id="trasaction-row-<%= ctransaction.id %>">
          <td style="width: 20%;">
            <%= link_to edit_ctransaction_path ctransaction.id do %>
                <%=ctransaction.name%>
            <%end%>
          </td>
          <td style="width: 20%;"><%= ctransaction.shared_with.email %></td>
          <td>
            <div class="progress progress-striped active">
              <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= ctransaction.progressing %>">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
            <% if ctransaction.check_shared %>
            <div class="progress progress-striped active">
              <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= ctransaction.shared_progressing %>">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
            <% end %>
          </td>
          <td style="width: 15%;">
            <div class="btn-group">
              <button type="button" class="btn btn-theme0<%= ctransaction.id % 5 %> dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to 'Edit', edit_ctransaction_path(ctransaction.id), :remote => true %>
                </li>
                <li>
                  <%= link_to 'Detail', ctransaction_path(ctransaction.id), :remote => true %>
                </li>
                <li>
                  <%= link_to "Destroy", ctransaction_path(ctransaction.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-transaction-link' %>
                </li>
                <li>
                  <%= link_to "Actions", ctransaction_cactions_path(ctransaction.id), :remote => false %>
                </li>
                <li>
                  <%= link_to "Documents", ctransaction_documents_path(ctransaction.id) %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
    </div>
</div>

<!-- Modal for Deleting a Transaction  -->
<!-- Modal -->
<div id="transaction-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header create-modal-header">
        <button id="close-transaction-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Transaction</h4>
      </div>
      <div id="transaction-confirm" class="modal-body">
          Are you sure to delete the chosen transaction. It can't be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-theme01" data-dismiss="modal">Close</button>
        <a id="submit-transaction-button" class="btn btn-primary" operation="">Submit</a>
      </div>
    </div>

  </div>
</div>


<script>

    var ready = function () {

        /**
         * When the send message link on our home page is clicked
         * send an ajax request to our rails app with the sender_id and
         * recipient_id
         */

        $('.start-conversation').click(function (e) {
            e.preventDefault();

            var sender_id = $(this).data('sid');
            var recipient_id = $(this).data('rip');
            var datum =  { sender_id: sender_id, recipient_id: recipient_id };
            datum = helper.appendCSRF(datum);
            $.post("/conversations", datum, function (data) {
                chatBox.chatWith(data.conversation_id);
            });
        });

        /**
         * Used to minimize the chatbox
         */

        $(document).on('click', '.toggleChatBox', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.toggleChatBoxGrowth(id);
        });

        /**
         * Used to close the chatbox
         */

        $(document).on('click', '.closeChat', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.close(id);
        });


        /**
         * Listen on keypress' in our chat textarea and call the
         * chatInputKey in chat.js for inspection
         */

        $(document).on('keydown', '.chatboxtextarea', function (event) {

            var id = $(this).data('cid');
            chatBox.checkInputKey(event, $(this), id);
        });

        /**
         * When a conversation link is clicked show up the respective
         * conversation chatbox
         */

        $('a.conversation').click(function (e) {
            e.preventDefault();

            var conversation_id = $(this).data('cid');
            chatBox.chatWith(conversation_id);
        });


    }

    $(document).ready(ready);
    $(document).on("page:load", ready);

</script>