<%= form_for @ctransaction, url: company_ctransactions_path do |f| %>
	<p>
		<%= f.label :buyer_id %><br>
		<%= f.text_field :buyer_id %>
	</p>
	<p>
		<%= f.label :vendor_id %><br>
		<%= f.text_field :vendor_id %><br>
	</p>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>