$(".modal-footer").hide();
$(".modal-title").text("Edit a Transaction");
$("#transaction-modal").modal("show");
$("#transaction-modal").find(".modal-body").html("<%= j render 'transaction_detail_form', layout: false %>");
$("#submit-transaction-button").attr("operation","edit");

