$(".modal-footer").show();
$(".modal-title").text("Update a Transaction");
<% if @update_success %>
$("#transaction-modal").modal("hide");
$("#trasaction-row-<%= @ctransaction.id %>").replaceWith("<%= j render 'transaction_table_row', layout: false %>");
helper.showNotification("Update Successfully", "You have updated the client named ");
<% else %>
console.log("f");
<% end %>