<div class="row" style="text-align: center">
  <h1>Sign up</h1>
</div>
<div class="col-md-6 col-md-offset-3">
  <hr>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <div class="col-sm-12">
    <%= f.label :email, class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  </div>

  <div class="field form-group">
    <div class="col-sm-12">
    <%= f.label :password, class: 'control-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
  </div>

  <div class="field form-group">
    <div class="col-sm-12">
    <%= f.label :password_confirmation, class: 'control-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
  </div>

    <div class="field form-group">
      <div class="col-sm-12">
        <%= f.label :username, class: 'control-label' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-sm-12">
        <%= f.label :company, class: 'control-label' %>
        <%= f.text_field :company_id, autofocus: true, class: 'form-control' %>
      </div>
    </div>

  <div class="actions form-group">
    <div class="col-sm-12">
      <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
    </div>
  </div>


<% end %>

<%= render "devise/shared/links" %>

</div>
</div>