<% publish_to @path do %>
var id = "<%= @conversation.id %>";
var chatbox = $("#chatbox_" + id + " .chatboxcontent");
var sender_id = "<%= @message.user.id %>";
var reciever_id = $('meta[name=user-id]').attr("content");
var message_title = "<%= @message.user.name %>";
var message_content = "<%= @message.body %>";

chatbox.append("<%= j render( partial: @message ) %>");
chatbox.scrollTop(chatbox[0].scrollHeight);

if(sender_id != reciever_id){
    chatBox.chatWith(id);
    chatbox.children().last().removeClass("self").addClass("other");
    chatbox.scrollTop(chatbox[0].scrollHeight);
    chatBox.notify(message_title, message_content);
}
<% end %>