<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.display_name, ctransaction_document_path(:id => document.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
