<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Chatty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- shiv here -->

</head>

<body>


<div class="container">
  <!-- flash messages here -->
  <%= yield %>
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>

<script>

    function appendCSRF(datum) {
        datum.authenticity_token = $("meta[name='csrf-token']").attr("content");
        return datum;
    }
    var ready = function () {

        /**
         * When the send message link on our home page is clicked
         * send an ajax request to our rails app with the sender_id and
         * recipient_id
         */

        $('.start-conversation').click(function (e) {
            e.preventDefault();

            var sender_id = $(this).data('sid');
            var recipient_id = $(this).data('rip');
            var datum = { sender_id: sender_id, recipient_id: recipient_id };
            datum = appendCSRF(datum);
            $.post("/conversations", datum, function (data) {
                chatBox.chatWith(data.conversation_id);
            });
        });

        /**
         * Used to minimize the chatbox
         */

        $(document).on('click', '.toggleChatBox', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.toggleChatBoxGrowth(id);
        });

        /**
         * Used to close the chatbox
         */

        $(document).on('click', '.closeChat', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.close(id);
        });


        /**
         * Listen on keypress' in our chat textarea and call the
         * chatInputKey in chat.js for inspection
         */

        $(document).on('keydown', '.chatboxtextarea', function (event) {

            var id = $(this).data('cid');
            chatBox.checkInputKey(event, $(this), id);
        });

        /**
         * When a conversation link is clicked show up the respective
         * conversation chatbox
         */

        $('a.conversation').click(function (e) {
            e.preventDefault();

            var conversation_id = $(this).data('cid');
            chatBox.chatWith(conversation_id);
        });


    }

    $(document).ready(ready);
    $(document).on("page:load", ready);

</script>
</html>

