<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <%= csrf_meta_tags %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>CONVAY DASHBOARD</title>
  <%= javascript_include_tag "application" %>


  <!-- Bootstrap core CSS -->
  <link href="/assets/panel/bootstrap.css" rel="stylesheet">
  <!--external css-->
  <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/panel/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/assets/panel/jquery.gritter.css" />
  <link rel="stylesheet" type="text/css" href="/assets/lionicons/style.css">

  <!-- JQuery-UI CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--Select2-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">

  <!-- Custom styles for this template -->
  <link href="/assets/panel/style.css" rel="stylesheet">
  <link href="/assets/panel/style-responsive.css" rel="stylesheet">
  <script src="/assets/panel/chart-master/Chart.js"></script>

  <!-- JQuery-UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


  <!-- Slect2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
  <link rel="stylesheethttps://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"/>

  <!-- Chat -->
  <link href="/assets/chat.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/assets/panel/bootstrap.min.js"></script>
  <!--<script class="include" type="text/javascript" src="/assets/panel/jquery.dcjqaccordion.2.7.js"></script>-->
  <script src="/assets/panel/jquery.scrollTo.min.js"></script>
  <script src="/assets/panel/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/assets/panel/jquery.sparkline.js"></script>


  <!--common script for all pages-->
  <script src="/assets/panel/common-scripts.js"></script>

  <script type="text/javascript" src="/assets/panel/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/assets/panel/gritter-conf.js"></script>

  <!-- chat -->
  <script src="/assets/chat.js"></script>
  <!--script for this page-->
  <script src="/assets/panel/sparkline-chart.js"></script>
  <script src="/assets/panel/zabuto_calendar.js"></script>

  <script src="/assets/invitation/invitation-crud.js"></script>

</head>

<body>

<section id="container" >
  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>CONVAY SYSTEM</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-theme notification-number"><%= current_user.unread_convos.length %></span>
          </a>
          <ul class="dropdown-menu extended inbox">
            <div class="notify-arrow notify-arrow-green"></div>

            <li>
              <p class="green">Currently, you have new unread messages in <strong class="notification-number"><%= current_user.unread_convos.length %></strong> conversations.</p>
            </li>
            <% current_user.unread_convos.each do |convo| %>
                <li>
                                      <%= link_to "Read the messages.", "#", class: "start-conversation click-notification",
                                                  "data-sid" => current_user.id, "data-rip" => convo.sender.id %>

                </li>
            <% end %>
          </ul>
        </li>
        <!-- inbox dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li>
           <%= link_to 'Logout', destroy_user_session_path, :remote => false, :method => :delete, :class => 'logout' %>
        </li>
      </ul>
    </div>
  </header>
  <!--header end-->

  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="profile.html"><%= image_tag 'panel/ui-sam.jpg', :class => 'img-circle', :width => '60'%></a></p>
        <h5 class="centered"><%= current_user.name %></h5>

        <li class="mt">
          <a class="side-bar-menu" href="/clients">
            <i class="fa fa-dashboard"></i>
            <span>My Clients</span>
          </a>
        </li>

        <li class="mt">
          <a class="side-bar-menu" href="/ctransactions">
            <i class="fa fa-dashboard"></i>
            <span>Transactions</span>
          </a>
        </li>

        <li class="mt">
          <a class="side-bar-menu"  href="/invitations">
            <i class="fa fa-dashboard"></i>
            <span>My Invitations</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <div class="row">
        <div class="col-lg-9 main-chart">
        <%= yield %>

        </div><!-- /col-lg-9 END SECTION MIDDLE -->


        <!-- **********************************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        *********************************************************************************************************************************************************** -->

        <div id="right-bar" class="col-lg-3 row-l ds">


          <!-- USERS ONLINE SECTION -->
          <h3>TEAM MEMBERS</h3>
          <!-- First Member -->



          <% @my_colleage.each do |user| %>
              <div class="desc">
                <div class="details">
                  <muted><%= user.name %></muted><br/>
                  <p> <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                                  "data-sid" => current_user.id, "data-rip" => user.id, 'data-no-turbolink' => true %>
                  </p>
                </div>
              </div>
          <% end %>



          <!-- CALENDAR-->
          <div id="calendar" class="mb">
            <div class="panel green-panel no-margin">
              <div class="panel-body">
                <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                  <div class="arrow"></div>
                  <h3 class="popover-title" style="disadding: none;"></h3>
                  <div id="date-popover-content" class="popover-content"></div>
                </div>
                <div id="my-calendar"></div>
              </div>
            </div>
          </div><!-- / calendar -->

        </div><!-- /col-lg-3 -->
      </div><! --/row -->

    </section>
  </section>




  <!--main content end-->
  <!--footer start-->
  <!--<footer class="site-footer">-->
    <!--<div class="text-center">-->
      <!--2014 - Alvarez.is-->
      <!--<a href="index.html#" class="go-top">-->
        <!--<i class="fa fa-angle-up"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</footer>-->
  <!--footer end-->
</section>

</body>


<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event", }
            ]
        });
    });
    $(document).ready(function() {
        // Resize the notification bar, for better UE.
        var headerHeight = $("header").height();
        var footerHeight = $(".site-footer").height();
        $("#right-bar").css("height", $("#sidebar").height()- headerHeight - footerHeight - footerHeight);
    });

    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>



</html>
