/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets"
//@import "bootstrap"
@import "select2"
@import "select2-bootstrap"
.navbar-static-top
  margin-bottom: 20px

i
  font-size: 16px

.nav > li > a
  color: #787878

footer
  margin-top: 20px
  padding-top: 20px
  padding-bottom: 20px
  background-color: #efefef

/* count indicator near icons

.nav > li .count
  position: absolute
  bottom: 12px
  right: 6px
  font-size: 9px
  background: rgba(51, 200, 51, 0.55)
  color: rgba(255, 255, 255, 0.9)
  line-height: 1em
  padding: 2px 4px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  -ms-border-radius: 10px
  -o-border-radius: 10px
  border-radius: 10px


.ad
  position: absolute
  bottom: 70px
  right: 48px
  z-index: 992
  background-color: #f3f3f3
  position: fixed
  width: 155px
  padding: 1px

.ad-btn-hide
  position: absolute
  top: -10px
  left: -12px
  background: #fefefe
  background: rgba(240, 240, 240, 0.9)
  border: 0
  border-radius: 26px
  cursor: pointer
  padding: 2px
  height: 25px
  width: 25px
  font-size: 14px
  vertical-align: top
  outline: 0

.carbon-img
  float: left
  padding: 10px

.carbon-text
  color: #888
  display: inline-block
  font-family: Verdana
  font-size: 11px
  font-weight: 400
  height: 60px
  margin-left: 9px
  width: 142px
  padding-top: 10px
  &:hover
    color: #666

.carbon-poweredby
  color: #6A6A6A
  float: left
  font-family: Verdana
  font-size: 11px
  font-weight: 400
  margin-left: 10px
  margin-top: 13px
  text-align: center

.table tbody > tr > td.vert-align
  vertical-align: middle

.table tbody > tr > td.hori-align
  text-align: center

