<% if user_signed_in? %>
	<%= link_to 'Show Action', company_cactions_path(current_user.company) %><br>
	<%= link_to 'Show Client', clients_path %><br>
	<%= link_to 'Show Transactions', company_ctransactions_path(current_user.company) %><br>
	<%= link_to 'Show Companies', companies_path %><br>
	<%= current_user.email %><br>
	<%= link_to 'Log out', destroy_user_session_path, method: :delete %><br>
<% else %>
	<%= link_to 'Log in', new_user_session_path %><br>
	<%= link_to 'Sign up', new_user_registration_path %>
<% end %>
