<%= form_for @invitation, :html => {:id => 'modal-form'}  do |f| %>
    <%= f.hidden_field :id, :class => "hidden-info" %>
    <div class="field">
      <%= f.label 'My Client' %><br>
      <%= f.select :receiver_client, options_from_collection_for_select(@my_clients, :id, :full_name), {}, {:class => "js-example-basic-single"} %>
    </div>
    <br>
    <div class="field">
      <%= f.label 'Operation' %><br>
      <%= f.select :status, ['Accept', 'Reject'], {}, {:class => "js-example-basic-single"} %>
    </div>
    <%= token_tag(nil) %>
<% end %>
