<tr id="sent-invitation-row-<%= @invitation.id %>">

  <td attribute="sent-invitation-client" class="hidden-phone"> <%= @invitation.sender_client.full_name if @invitation.sender_client %></td>
  <td attribute="sent-invitation-receiver"><span class="label label-info label-mini"> <%= @invitation.receiver.email if @invitation.receiver %></span></td>
  <td attribute="sent-invitation-title"><p><%= @invitation.title %></p></td>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-theme0<%= @invitation.id % 5 %> dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <!--<a class="edit-client-button" data-toggle="modal" href="#edit-client-modal">-->
          <!--<i class="fa fa-edit"></i>-->
          <!--Edit-->
          <!--</a>-->
          <%= link_to 'Edit', edit_invitation_path(@invitation.id), :remote => true, :class => 'edit-invitation-link'  %>


        </li>

        <li>
          <%= link_to 'Detail', invitation_path(@invitation.id), :remote => true, :class => 'show-invitation-link'  %>
        </li>
        <li>
          <!--<a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">-->
          <!--<i class="fa fa-trash-o"></i>-->
          <!--Delete-->
          <!--</a>-->
          <%= link_to "Destroy", invitation_path(@invitation.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-invitation-link' %>
        </li>
      </ul>
    </div>
  </td>
</tr>