<%= form_for @invitation, :html => {:id => 'modal-form'} do |f| %>
    <p>
      <%= f.hidden_field :id, :class => "hidden-info" %>
      <p><strong>Sender Client:</strong></p>
      <p><%= @invitation.sender_client.full_name if @invitation.sender_client %></p>
    </p>
    <br>

    <p>
      <p><strong>Receiver Company:</strong></p>
      <p><%= @invitation.receiver.company.name if @invitation.receiver.company %></p>
    </p>
    <br>

    <p>
      <p><strong>Receiver Name:</strong></p>
      <p><%=@invitation.receiver.email  %></p>
    </p>
    <br>

    <p>
      <p><strong>Title:</strong></p>
      <p><%= @invitation.title %></p>
    </p>
    <br>

    <p>
      <p><strong>Content:</strong></p>
      <p><%= @invitation.content %></p>
    </p>
    <br>
<% end %>
