<%= form_for @invitation, :html => {:id => 'modal-form'} do |f| %>
    <p>
      <%= f.hidden_field :id, :class => "hidden-info" %>
      <%= f.label 'My Client' %><br>
      <%= f.select :sender_client_id, options_from_collection_for_select(@my_clients, :id, :full_name), {}, {:class => "js-example-basic-single"} %>
      <p id="sender_client_edit_error" class="client-form-error">
        <%= @invitation.errors[:sender_client_id].first %>
      </p>
    </p>

    <p>
      <label>Receiver Company</label><br>
      <%= f.select :company, options_from_collection_for_select(@all_companys, :id, :name), {}, {:class => "js-example-basic-single"} %>
      <p id="company_edit_error" class="client-form-error">
        <%= @invitation.errors[:company].first %>
      </p>
    </p>

    <div class="field">
      <%= f.label :receiver_id %><br>
      <%= f.select :receiver_id, options_from_collection_for_select(@default_receivers, :id, :email), {}, {:class => "js-example-basic-single"} %>
      <p id="receiver_edit_error" class="client-form-error">
        <%= @invitation.errors[:receiver_id].first %>
      </p>
    </div>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_area :title , :class => 'form-control' %>
      <p id="title_edit_error" class="client-form-error">
        <%= @invitation.errors[:title].first %>
      </p>
    </div>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content , :class => 'form-control' %>
      <p id="content_edit_error" class="client-form-error">
        <%= @invitation.errors[:content].first %>
      </p>
    </div>
<% end %>