$(".modal-footer").show();
$(".modal-title").text("Delete a Invitation");
<% if @destroy_success %>
$("#sent-invitation-row-<%= @invitation.id %>").remove();
helper.showNotification("Delete Successfully", "You have deleted the invitation entitled: " + "<%= @invitation.title %>.");
<% else %>
helper.showNotification("Delete Failed", "You have failed to delete the invitation entitled " + "<%= @invitation.title %>.");
<% end %>
console.log("dsads");