$(".modal-footer").show();
$(".modal-title").text("Accept/Reject the Invitation");
$("#invitation-modal").modal("show");
$("#invitation-modal").find(".modal-body").html("<%= j render 'accept_invitation_form' %>");
$(".js-example-basic-single").select2({
    placeholder: "Select a value"
});
$("#submit-invitation-button").attr("operation","edit");

