<p id="notice"><%= notice %></p>
<div class="content-panel col-lg-12 col-md-12 col-sm-12 mb">
  <h1> Invitations</h1>
  <hr>
  <%= link_to new_invitation_path, :remote => true, :class => 'btn btn-info btn-sm table-button' do %>
      <i class="fa fa-plus-circle"></i>
      Create a Client
  <% end %>

  <br><br>

  <!--The Invitation I sent-->
  <div class="col-lg-6 col-md-6 col-sm-6 mb">
    <div class="pn white-panel position-relative">
      <div id="blog-bg">
        <div class="badge badge-popular">I SENT</div>
      </div>
      <table id="my-invitation-table" class="table table-advance table-hover">
        <thead>
        <tr>
          <td><i class="fa fa-phone"></i>&nbsp;My Client</td>
          <td class="hidden-phone"><i class="fa fa-envelope"></i>&nbsp;Receiver</td>
          <td class="hidden-phone"><i class="fa fa-envelope"></i>&nbsp;Title</td>
          <td></td>
        </tr>
        </thead>
        <tbody class="i-send">
        <% @my_invitations.each do |invitation| %>
            <tr id="sent-invitation-row-<%= invitation.id %>">

              <td attribute="sent-invitation-client" class="hidden-phone"> <%= invitation.sender_client.full_name if invitation.sender_client %></td>
              <td attribute="sent-invitation-receiver"><span class="label label-info label-mini"> <%= invitation.receiver.email if invitation.receiver %></span></td>
              <td attribute="sent-invitation-title"><p><%= invitation.title %></p></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme0<%= invitation.id % 5 %> dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <%= link_to 'Detail', invitation_path(invitation.id), :remote => true, :class => 'show-invitation-link'  %>
                    </li>
                    <li>
                      <!--<a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">-->
                      <!--<i class="fa fa-trash-o"></i>-->
                      <!--Delete-->
                      <!--</a>-->
                      <%= link_to "Destroy", invitation_path(invitation.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-invitation-link' %>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- The Invitation I Sent Ends -->

  <!-- The Invitation Sent to Me -->
  <div class="col-lg-6 col-md-6 col-sm-6 mb">
    <div class="pn white-panel position-relative">
      <div id="blog-bg" style="background: url(/assets/blog-bg-2.jpg) no-repeat center top;">
        <div class="right-badge badge-popular">TO ME</div>
      </div>
      <table id="invitaion-to-me-table" class="table table-advance table-hover">
        <thead>
        <tr>
          <td><i class="fa fa-phone"></i>&nbsp; Client</td>
          <td class="hidden-phone"><i class="fa fa-envelope"></i>&nbsp;Sender</td>
          <td></td>
        </tr>
        </thead>
        <tbody class="to-me">

        <% @invitations_to_me.each do |invitation| %>
            <tr id="accept-invitation-row-<%= invitation.id %>">

              <td attribute="client-contact-num-1" class="hidden-phone"> <%= invitation.sender_client.full_name if invitation.sender_client %></td>
              <td attribute="client-email"><span class="label label-info label-mini"> <%= invitation.sender.email if invitation.receiver %></span></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme0<%= invitation.id % 5 %> dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <!--<a class="edit-client-button" data-toggle="modal" href="#edit-client-modal">-->
                      <!--<i class="fa fa-edit"></i>-->
                      <!--Edit-->
                      <!--</a>-->
                      <%= link_to 'Edit', edit_invitation_path(invitation.id), :remote => true, :class => 'edit-invitation-link'  %>


                    </li>

                    <li>
                      <%= link_to 'Detail', invitation_path(invitation.id), :remote => true, :class => 'show-invitation-link'  %>
                    </li>
                    <li>
                      <!--<a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">-->
                      <!--<i class="fa fa-trash-o"></i>-->
                      <!--Delete-->
                      <!--</a>-->
                      <%= link_to "Destroy", invitation_path(invitation.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-invitation-link' %>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>





<!-- Modal -->
<div id="invitation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog create-client-form">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-invitation-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Accept Invitation</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="submit-invitation-button" class="btn btn-theme01" operation="">Submit</a>
      </div>
    </div>

  </div>
</div>

`
<script>

    var ready = function () {

        /**
         * When the send message link on our home page is clicked
         * send an ajax request to our rails app with the sender_id and
         * recipient_id
         */

        $('.start-conversation').click(function (e) {
            e.preventDefault();

            var sender_id = $(this).data('sid');
            var recipient_id = $(this).data('rip');
            var datum =  { sender_id: sender_id, recipient_id: recipient_id };
            datum = helper.appendCSRF(datum);
            $.post("/conversations", datum, function (data) {
                chatBox.chatWith(data.conversation_id);
            });
        });

        /**
         * Used to minimize the chatbox
         */

        $(document).on('click', '.toggleChatBox', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.toggleChatBoxGrowth(id);
        });

        /**
         * Used to close the chatbox
         */

        $(document).on('click', '.closeChat', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.close(id);
        });


        /**
         * Listen on keypress' in our chat textarea and call the
         * chatInputKey in chat.js for inspection
         */

        $(document).on('keydown', '.chatboxtextarea', function (event) {

            var id = $(this).data('cid');
            chatBox.checkInputKey(event, $(this), id);
        });

        /**
         * When a conversation link is clicked show up the respective
         * conversation chatbox
         */

        $('a.conversation').click(function (e) {
            e.preventDefault();

            var conversation_id = $(this).data('cid');
            chatBox.chatWith(conversation_id);
        });


    }

    $(document).ready(ready);
    $(document).on("page:load", ready);

</script>