$(".modal-footer").show();
$(".modal-title").text("Create a New Client");
$("#invitation-modal").modal("show");
$("#invitation-modal").find(".modal-body").html("<%= j render 'new_invitation_form' %>");
$(".js-example-basic-single").select2({
    placeholder: "Select a value"
});
$(document).on("select2:select", "#invitation_company", function(event) {
    var chosenCompanyId = $(event.target).val();
    var href = '/companies/' + chosenCompanyId + '/' + 'users';
    var datum = {};
    tempCommModule.getData(href, datum, tempDommCommEventsCallBack.companyChangeSuccessCallback, tempDommCommEventsCallBack.companyChangeFailCallback);
});
$("#submit-invitation-button").attr("operation","new");

var tempDommCommEventsCallBack = {
    companyChangeSuccessCallback: function(result) {
        // Clear all the user information of the previous company.
        $("#invitation_receiver_id option").remove();
        //$("#select2-invitation_receiver-container").text("");
        $("#invitation_receiver_id").select2("val", "");
        if(result.length > 0) {
            // Append new receivers information.
            for(var index in result) {
                $("#invitation_receiver_id").append($('<option>', {
                    value: result[index].id,
                    text : result[index].email
                }));
            }
        }
        $("#invitation_receiver_id").trigger("change");
        // alert($("#invitation_receiver").val());
        console.log(result);
    },
    companyChangeFailCallback: function(result) {
        console.log(result);
    },
}

var tempCommModule = {
    getData: function(href, datum, successCallback, failCallback) {
        $.get(href, datum)
                .success(successCallback)
                .fail(failCallback);
    }
}
