$(".modal-title").text("Sended Invitation Detail");
$(".modal-footer").hide();
$("#invitation-modal").modal("show");
$("#invitation-modal").find(".modal-body").html("<%= j render 'invitation_detail_form', layout: false %>");







