<% if @success_update %>
$("#invitation-modal").modal("hide");
$("#accept-invitation-row-<%= @invitation.id %>").remove();
helper.showNotification("Update Successfully", "You have updated the invitation " + "<%= @invitation.title %>.");
<% else %>
$("#invitation-modal").modal("hide");
helper.showNotification("Update Failed", "You have updated the invitation " + "<%= @invitation.title %>.");
<%end%>
