<%= form_for @caction, url: ctransaction_cactions_path ,:html => {:class => 'form-horizontal style-form', :id => 'modal-form'} do |f| %>
    <%= f.hidden_field :id%>
    <%= f.hidden_field :ctransaction_id, :value => @ctransaction.id %>
    <ul>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Task Name</a>
          <div class="col-sm-6">
            <%= f.text_field :action_name, :class=> "form-control" %>
            <p id="action_name_edit_error" class="client-form-error">
              <%= @caction.errors[:action_name].first %>
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Status</a>
          <div class="col-sm-6">
            <%= f.select :state, options_for_select([ ["Processing",1], ["Done",0] ], :selected => @caction.state), {}, {:class => 'form-control'} %>
          </div>
        </div>
      </li>

    </ul>

<% end %>
