<%= form_for @caction, url: ctransaction_cactions_path ,:html => {:class => 'form-horizontal style-form', :id => 'modal-form'} do |f| %>
    <%= f.hidden_field :id%>
    <%= f.hidden_field :ctransaction_id, :value => @ctransaction.id %>
    <ul>
      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Task Name</a>
          <div class="col-sm-6">
           <p>
            <%= @caction.action_name %>
           </p>
          </div>
        </div>
      </li>

      <li>
        <div class="form-group">
          <a class="col-sm-3 col-sm-3 control-label"><i class="fa fa-phone"></i>&nbsp;Status</a>
          <div class="col-sm-6">
            <p>
              <%= @caction.state %>
            </p>
          </div>
        </div>
      </li>

    </ul>

<% end %>