<li id="action-row-<%= @caction.id%>" style="position: relative; left: 0px; top: 0px;" class="list-primary">
  <div class="task-title">
    <span class="task-title-sp"><%= @caction.action_name %></span>
    <% if @caction.state == 0 %>
        <span class="badge bg-theme">Done</span>
    <% end %>

    <% if @caction.state == 1 %>
        <span class="badge bg-success">Processing</span>
    <% end %>
    <div class="pull-right hidden-phone">
      <%= link_to edit_ctransaction_caction_path(@ctransaction.id, @caction.id), :remote => true, :class => "btn btn-primary btn-xs fa fa-pencil" do %>
      <% end %>
      <%= link_to ctransaction_caction_path(@ctransaction.id, @caction.id), :remote => true, :class => "btn btn-success btn-xs fa fa-check" do %>
      <% end %>
      <%= link_to ctransaction_caction_path(@ctransaction.id, @caction.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'btn btn-danger btn-xs fa fa-trash-o' do %>
      <% end %>
    </div>
  </div>
</li>
<br>