<%= form_for @temp_new_caction, :url => "" do |f| %>
    <p>
      <%= f.label :action_name, :class => "form-font-style"%>*<br>
      <%= f.text_field :action_name, :class => "form-control" %>
    <p>
    <p id="action_name__error" class="action-form-error"></p>
      <strong>Note:</strong> The first name of your client.
      Letters and underscores only. Must start with a capital
      letter and be less than 32 characters.
    <%= token_tag(nil) %>

<% end %>