$(".modal-footer").show();
$(".modal-title").text("Create a New Task");
<% if @caction.valid? %>
$("#action-modal").modal("hide");
$("ul.mylist").append("<%= j render 'action_table_row', layout: false %>");
helper.showNotification("Create Successfully", "You have created a new client: ");
<% else %>
$("#action-modal").find(".modal-body").html("");
$("#action-modal").find(".modal-body").html("<%= j render 'action_edit_form', layout: false %>");
$("#submit-action-button").attr("operation","new");
<% end %>