<% if @destroy_success %>
$("#action-row-<%= @caction.id %>").remove();
helper.showNotification("Delete Successfully", "You have deleted the client named ");
<% else %>
helper.showNotification("Delete Failed", "You have failed to delete the client named ");
<% end %>
