

<div class="content-panel table-header01">
  <h4>Transaction List</h4>
</div>
<div class="pn white-panel position-relative" style="text-align: left;">
<div class="col-md-12">
  <section class="task-panel tasks-widget">
    <div class="panel-body">
      <div class="task-content">
        <ul id="sortable" class="mylist task-list">
          <% @cactions.each do |action| %>
          <li id="action-row-<%= action.id%>" style="position: relative; left: 0px; top: 0px;" class="list-primary">
            <div class="task-title">
              <span class="task-title-sp"><%= action.action_name %></span>&nbsp;
              <% if action.state == 0 %>
              <span class="badge bg-theme">Done</span>
              <% end %>

              <% if action.state == 1 %>
                  <span class="badge bg-success">Processing</span>
              <% end %>
              <div class="pull-right hidden-phone">
                <%= link_to edit_ctransaction_caction_path(@ctransaction.id, action.id), :remote => true, :class => "btn btn-primary btn-xs fa fa-pencil" do %>
                <% end %>
                <%= link_to ctransaction_caction_path(@ctransaction.id, action.id), :remote => true, :class => "btn btn-success btn-xs fa fa-check" do %>
                <% end %>
                <%= link_to ctransaction_caction_path(@ctransaction.id, action.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'btn btn-danger btn-xs fa fa-trash-o' do %>
                <% end %>
              </div>
            </div>
          </li>
          <br>
          <% end %>
        </ul>
      </div>
      <div class=" add-task-row">
        <%= link_to new_ctransaction_caction_path, :remote => true, :class => 'btn btn-success btn-sm pull-left' do %>
            Add a new Task
        <% end %>
      </div>
    </div>
  </section>
</div><!--/col-md-12 -->

</div>


<br>
<br>
<br>

<li id="hidden-action-row" style="position: relative; left: 0px; top: 0px;" class="list-primary">
  <div class="task-title">
    <span class="task-title-sp"></span>
    <span class="badge bg-theme"></span>
    <div class="pull-right hidden-phone" style="display: none;">
      <a attribute="done" class="btn btn-success btn-xs fa fa-check edit-action-button"  data-toggle="modal" href="#edit-action-modal"></a>
      <a class="btn btn-danger btn-xs fa fa-trash-o delete-action-button"  data-toggle="modal" href="#delete-action-modal"></a>
      <a attribute="processing" class="btn btn-primary btn-xs fa fa-pencil edit-action-button"  data-toggle="modal" href="#edit-action-modal"></a>
    </div>
  </div>
</li>



<div class="content-panel table-header01">
  <h4>Shared List</h4>
</div>
<div class="pn white-panel position-relative" style="text-align: left;">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">

      <div class="panel-body">
        <div class="task-content">
          <ul id="sortable" class="task-list ui-sortable">
            <% if @shared_actions %>
            <% @shared_actions.each do |action| %>
                <li id="action-row-<%= action.id%>" style="position: relative; left: 0px; top: 0px;" class="list-primary">
                  <div class="task-title">
                    <span class="task-title-sp"><%= action.action_name %></span>
                    <% if action.state == 0 %>
                        <span class="badge bg-theme">Done</span>
                    <% end %>

                    <% if action.state == 1 %>
                        <span class="badge bg-success">Processing</span>
                    <% end %>
                  </div>
                </li>
            <% end %>
            <% end %>
          </ul>
        </div>

      </div>
    </section>
  </div><!--/col-md-12 -->
</div>



<!-- Modal for creating a action  -->
<!-- Modal -->
<div id="create-action-modal" class="modal fade" role="dialog">
  <div class="modal-dialog create-client-form">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-create-action-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Action Info</h4>
      </div>
      <div class="modal-body">
        <%= render 'new_action_form' %>
        <div class="modal-footer">
          Fields * are required.
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a id="create-action-button" class="btn btn-theme01">Submit</a>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal for Deleting a action  -->
<!-- Modal -->
<div id="delete-action-modal" class="modal fade" role="dialog">
  <div class="modal-dialog create-client-form">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header delete-modal-header">
        <button id="close-delete-action-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Action</h4>
      </div>
      <div id="delete-action-confirm" class="modal-body">
          Are you sure to delete the chosen action? It can't be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="delete-action-button" class="btn btn-theme01">Submit</a>
      </div>
    </div>

  </div>
</div>
<!-- Modal ends -->

<!-- Modal for Editing a action  -->
<!-- Modal -->
<div id="edit-action-modal" class="modal fade" role="dialog">
  <div class="modal-dialog create-client-form">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header delete-modal-header">
        <button id="close-delete-action-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Action</h4>
      </div>
      <div id="edit-action-confirm" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="edit-action-button" class="btn btn-theme01">Submit</a>
      </div>
    </div>

  </div>
</div>
<!-- Modal ends -->


<!-- Modal for a Action  -->
<!-- Modal -->
<div id="action-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="submit-action-button" class="btn btn-theme01" operation="">Submit</a>
      </div>
    </div>

  </div>
</div>



<script>
    jQuery(document).ready(function() {
        TaskList.initTaskWidget();
    });

    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });

</script>

<script src="/assets/panel/tasks.js" type="text/javascript"></script>
