$(".modal-footer").show();
$(".modal-title").text("Create a New Task");
$("#action-modal").modal("show");
$("#action-modal").find(".modal-body").html("<%= j render 'action_edit_form', layout: false %>");
$("#submit-action-button").attr("operation","new");