$(".modal-title").text("Task Detail");
$(".modal-footer").hide();
$("#action-modal").modal("show");
$("#action-modal").find(".modal-body").html("<%= j render 'action_detail_form', layout: false %>");







