$(".modal-footer").show();
$(".modal-title").text("Update a Client");
<% if @update_success %>
$("#action-modal").modal("hide");
$("#action-row-<%= @caction.id %>").replaceWith("<%= j render 'action_table_row', layout: false %>");
helper.showNotification("Update Successfully", "You have updated the client named ");
<% else %>
$("#action-modal").find(".modal-body").html("");
$("#action-modal").find(".modal-body").html("<%= j render 'action_edit_form', layout: false %>");
$("#submit-action-button").attr("operation","edit");
<% end %>


