<%= form_for :client, :html => {:action => 'update', :id => 'modal-form'} do |f|  %>
    <%= f.hidden_field :id, :class => "hidden-info" %>
    <p>
      <%= f.label :first_name, :class => "form-font-style"%>*<br>
      <%= f.text_field :first_name, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The first name of your client.
      Letters and underscores only. Must start with a capital
      letter and be less than 32 characters.
    </p>
    <p id="first_name_edit_error" class="client-form-error">
      <%= @client.errors[:first_name].first %>
    </p>
    </p>
    <p>
      <%= f.label :last_name, :class => "form-font-style" %>*<br>
      <%= f.text_field :last_name, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The last name of your client.
      Letters, numbers, underscores and hyphens only.
      Must start with a letter and be less than 32 characters.
    </p>
    <p id="last_name_edit_error" class="client-form-error">
      <%= @client.errors[:last_name].first %>
    </p>
    </p>
    <p>
      <%= f.label :email, :class => "form-font-style" %>*<br>
      <%= f.text_field :email, :class => "form-control" %>
    <p>
      <strong>Note:</strong> Please be sure the format of the
      email you input is valid.
    </p>
    <p id="email_edit_error" class="client-form-error">
      <%= @client.errors[:email].first %>
    </p>
    </p>

    <p>
      <%= f.label :phone, :class => "form-font-style" %>*<br>
      <%= f.text_field :contact_num1, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The phone number is a series of number.
      Numbers, and '+' only.
    </p>
    <p id="contact_num1_edit_error" class="client-form-error">
      <%= @client.errors[:contact_num1].first %>
    </p>
    </p>

    <p>
      <%= f.label :phone, :class => "form-font-style" %><br>
      <%= f.text_field :contact_num2, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The phone number is a series of number.
      Numbers, and '+' only.
    </p>
    <p id="contact_num2_edit_error" class="client-form-error">
      <%= @client.errors[:contact_num2].first %>
    </p>
    </p>

    <p>
      <%= f.label :address_one, :class => "form-font-style" %><br>
      <%= f.text_field :postal_address, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The address of your client.
      Letters, numbers, underscores and hyphens only.
      Must be less than 255 characters.
    </p>
    <p id="postal_address_edit_error" class="client-form-error">
      <%= @client.errors[:postal_address].first %>
    </p>
    </p>

    <p>
      <%= f.label :address_two, :class => "form-font-style" %><br>
      <%= f.text_field :postal_address_2, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The address of your client.
      Letters, numbers, underscores and hyphens only.
      Must be less than 255 characters.
    </p>
    <p id="postal_address_2_edit_error" class="client-form-error">
      <%= @client.errors[:postal_address_2].first %>
    </p>
    </p>

    <p>
      <%= f.label :address_three, :class => "form-font-style" %><br>
      <%= f.text_field :postal_address_3, :class => "form-control" %>
    <p>
      <strong>Note:</strong> The address of your client.
      Letters, numbers, underscores and hyphens only.
      Must be less than 255 characters.
    </p>
    <p id="postal_address_3_edit_error" class="client-form-error">
      <%= @client.errors[:postal_address_3].first %>
    </p>
    </p>
<% end %>
