
    <tr id="client-row-<%= @client.id %>">
      <td attribute="client-name"><a href="basic_table.html#"><%= @client.first_name + ' ' + @client.last_name %></a></td>
      <td attribute="client-email"><span class="label label-info label-mini"> <%= @client.email %></span></td>
      <td attribute="client-contact-num-1" class="hidden-phone"> <%= @client.contact_num1 %></td>
      <td attribute="client-address"><p><%= @client.postal_address %></p></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-theme0<%= @client.id % 5 %> dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <!--<a class="edit-client-button" data-toggle="modal" href="#edit-client-modal">-->
              <!--<i class="fa fa-edit"></i>-->
              <!--Edit-->
              <!--</a>-->
              <%= link_to 'Edit', edit_client_path(@client.id), :remote => true, :class => 'edit-client-link'  %>


            </li>

            <li>
              <%= link_to 'Detail', client_path(@client.id), :remote => true, :class => 'show-client-link'  %>
            </li>
            <li>
              <!--<a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">-->
              <!--<i class="fa fa-trash-o"></i>-->
              <!--Delete-->
              <!--</a>-->
              <%= link_to "Destroy", client_path(@client.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-client-link' %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
