$(".modal-footer").show();
$(".modal-title").text("Create a New Client");
<% if @client.valid? %>
$("#client-modal").modal("hide");
$("tbody").append("<%= j render 'client_table_row', layout: false %>");
helper.showNotification("Create Successfully", "You have created a new client: " + "<%= @client.full_name %>.");
<% else %>
$("#client-modal").find(".modal-body").html("");
$("#client-modal").find(".modal-body").html("<%= j render 'client_edit_form', layout: false, :client => @client, :client_id => @client.id %>");
$("#submit-client-button").attr("operation","new");
<% end %>