$(".modal-footer").show();
$(".modal-title").text("Delete a Client");
<% if @destroy_success %>
$("#client-row-<%= @client.id %>").remove();
helper.showNotification("Delete Successfully", "You have deleted the client named " + "<%= @client.full_name %>.");
<% else %>
helper.showNotification("Delete Failed", "You have failed to delete the client named " + "<%= @client.full_name %>.");
<% end %>
