$(".modal-footer").show();
$(".modal-title").text("Edit a Client");
$("#client-modal").modal("show");
$("#client-modal").find(".modal-body").html("<%= j render 'client_edit_form', layout: false, :client => @client, :client_id => @client.id %>");
$("#submit-client-button").attr("operation","edit");

