<div class="content-panel table-header">
  <h4>Clients List</h4>
  <hr>
  <%= link_to new_client_path, :remote => true, :class => 'btn btn-info btn-sm table-button' do %>
      <i class="fa fa-plus-circle"></i>
      Create a Client
  <% end %>
</div>
<div class="content-panel">

  <table id="client-table" class="table table-advance table-hover">
    <thead>
    <tr>
      <th><i class="fa fa-comment"></i>&nbsp;Client Name</th>
      <th class="hidden-phone"><i class="fa fa-envelope"></i>&nbsp;Email</th>
      <th><i class="fa fa-phone"></i>&nbsp;Phone</th>
      <th><i class=" fa fa-map-marker"></i>&nbsp;Address</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <% @clients.each do |client| %>
        <tr id="client-row-<%= client.id %>">
          <td attribute="client-name"><a href="basic_table.html#"><%= client.first_name + ' ' + client.last_name %></a></td>
          <td attribute="client-email"><span class="label label-info label-mini"> <%= client.email %></span></td>
          <td attribute="client-contact-num-1" class="hidden-phone"> <%= client.contact_num1 %></td>
          <td attribute="client-address"><p><%= client.postal_address %></p></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-theme0<%= client.id % 5 %> dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <!--<a class="edit-client-button" data-toggle="modal" href="#edit-client-modal">-->
                    <!--<i class="fa fa-edit"></i>-->
                    <!--Edit-->
                  <!--</a>-->
                  <%= link_to 'Edit', edit_client_path(client.id), :remote => true, :class => 'edit-client-link'  %>


                </li>

                <li>
                  <%= link_to 'Detail', client_path(client.id), :remote => true, :class => 'show-client-link'  %>
                </li>
                <li>
                  <!--<a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">-->
                    <!--<i class="fa fa-trash-o"></i>-->
                    <!--Delete-->
                  <!--</a>-->
                  <%= link_to "Destroy", client_path(client.id), :remote => true, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'delete-client-link' %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
    <% end %>

    <tr class="hidden-table-row" id="client-row-hidden">
      <td attribute="client-name"><a href="basic_table.html#"></a></td>
      <td attribute="client-email"><span class="label label-info label-mini"></span></td>
      <td attribute="client-contact-num-1" class="hidden-phone"></td>
      <td attribute="client-address"></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-theme01 dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="edit-client-button" data-toggle="modal" href="#edit-client-modal">
                <i class="fa fa-edit"></i>
                Edit
              </a>
            </li>
            <li>
              <a class="delete-client-button" data-toggle="modal" href="#delete-client-modal">
                <i class="fa fa-trash-o"></i>
                Delete
              </a>
            </li>
          </ul>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>


<!-- Modal for Deleting a client  -->
<!-- Modal -->
<div id="client-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-client-modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Client</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="submit-client-button" class="btn btn-theme01" operation="">Submit</a>
      </div>
    </div>

  </div>
</div>


<script>

    var ready = function () {

        /**
         * When the send message link on our home page is clicked
         * send an ajax request to our rails app with the sender_id and
         * recipient_id
         */

        $('.start-conversation').click(function (e) {
            e.preventDefault();

            var sender_id = $(this).data('sid');
            var recipient_id = $(this).data('rip');
            var datum =  { sender_id: sender_id, recipient_id: recipient_id };
            datum = helper.appendCSRF(datum);
            $.post("/conversations", datum, function (data) {
                chatBox.chatWith(data.conversation_id);
            });
        });

        /**
         * Used to minimize the chatbox
         */

        $(document).on('click', '.toggleChatBox', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.toggleChatBoxGrowth(id);
        });

        /**
         * Used to close the chatbox
         */

        $(document).on('click', '.closeChat', function (e) {
            e.preventDefault();

            var id = $(this).data('cid');
            chatBox.close(id);
        });


        /**
         * Listen on keypress' in our chat textarea and call the
         * chatInputKey in chat.js for inspection
         */

        $(document).on('keydown', '.chatboxtextarea', function (event) {

            var id = $(this).data('cid');
            chatBox.checkInputKey(event, $(this), id);
        });

        /**
         * When a conversation link is clicked show up the respective
         * conversation chatbox
         */

        $('a.conversation').click(function (e) {
            e.preventDefault();

            var conversation_id = $(this).data('cid');
            chatBox.chatWith(conversation_id);
        });


    }

    $(document).ready(ready);
    $(document).on("page:load", ready);

</script>