$(".modal-title").text("Client Detail");
$(".modal-footer").hide();
$("#client-modal").modal("show");
$("#client-modal").find(".modal-body").html("<%= j render 'client_detail_form', layout: false, :client => @client, :client_id => @client.id %>");







