$(".modal-footer").show();
$(".modal-title").text("Update a Client");
<% if @update_success %>
$("#client-modal").modal("hide");
$("#client-row-<%= @client.id %>").replaceWith("<%= j render 'client_table_row', layout: false %>");
helper.showNotification("Update Successfully", "You have updated the client named " + "<%= @client.full_name %>.");
<% else %>
$("#client-modal").find(".modal-body").html("");
$("#client-modal").find(".modal-body").html("<%= j render 'client_edit_form', layout: false, :client => @client, :client_id => @client.id %>");
$("#submit-client-button").attr("operation","edit");
<% end %>


