<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Convay</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="">
              <i class="glyphicon glyphicon-user"></i> <%= current_user.email %> <span class=" caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="">My Profile</a></li>
              <li>
              	<%= link_to destroy_user_session_path, method: :delete do %>
              		<i class="glyphicon glyphicon-lock"></i> Logout
              	<% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <div>
          	<%= link_to 'Log in', new_user_session_path, class: "navbar-text" %>
			<%= link_to 'Sign up', new_user_registration_path, class: "navbar-text" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div><!-- /container -->
</div>