<a href=""><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>
<hr>
<ul class="nav nav-stacked">
    <li class="nav-header"> <a href="" data-toggle="collapse" data-target="#cactionMenu" data-remote="true">Actions <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="cactionMenu">
            <li>
                <%= link_to company_cactions_path(current_user.company) do %>
                    <i class="glyphicon glyphicon-list"></i> All
                <% end %>
            </li>
            <li>
                <%= link_to new_company_caction_path(current_user.company) do %>
                    <i class="glyphicon glyphicon-list"></i> New
                <% end %>

            </li>
        </ul>
    </li>
    <li class="nav-header"> <a href="" data-toggle="collapse" data-target="#clientMenu" data-remote="true">Clients <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="clientMenu">
            <li>
                <%= link_to clients_path do %>
                    <i class="glyphicon glyphicon-list"></i> All
                <% end %>
            </li>
            <li>
                <%= link_to new_client_path do %>
                    <i class="glyphicon glyphicon-list"></i> New
                <% end %>

            </li>
        </ul>
    </li>
    <li class="nav-header"> <a href="" data-toggle="collapse" data-target="#companyMenu" data-remote="true">Companies <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="companyMenu">
            <li>
                <%= link_to companies_path do %>
                    <i class="glyphicon glyphicon-list"></i> All
                <% end %>
            </li>
            <li>
                <%= link_to new_company_path do %>
                    <i class="glyphicon glyphicon-list"></i> New
                <% end %>

            </li>
        </ul>
    </li>
    <li class="nav-header"> <a href="" data-toggle="collapse" data-target="#ctransactionMenu" data-remote="true">Transactions <i class="glyphicon glyphicon-chevron-right"></i></a>
        <ul class="nav nav-stacked collapse" id="ctransactionMenu">
            <li>
                <%= link_to company_ctransactions_path(current_user.company) do %>
                    <i class="glyphicon glyphicon-list"></i> All
                <% end %>
            </li>
            <li>
                <%= link_to new_company_ctransaction_path(current_user.company) do %>
                    <i class="glyphicon glyphicon-list"></i> New
                <% end %>

            </li>
        </ul>
    </li>
</ul>
